@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection {
  background: #000;
  color: #fff;
}

*{
    font-family: 'Barlow', sans-serif;
    box-sizing:  border-box;
    font-weight: 400;
    color: #000;
    cursor: url('../img/core/cursor.svg'), auto;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    overscroll-behavior-y: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}
.select {
    -webkit-touch-callout: default;
    -webkit-user-select: default;
    -khtml-user-select: default;
    -moz-user-select: default;
    -ms-user-select: default;
    user-select: default;
    user-drag: default;
    -webkit-user-drag: default;
}

.no-pointer-events {
    pointer-events: none;
}







/* HOME */
.first-image {
    max-width: 20vw;
    min-width: 20vw;
    opacity: 0.03;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-image > img {
    vertical-align: middle;
}

.splash-image {
    max-width: 50vw;
    min-width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}







/* GENERAL */
.default-content {
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, 0);
  scroll-behavior: smooth;
  z-index: -1;
}

.default-content::-webkit-scrollbar {
  display: none;
}

.default-content {
  -ms-overflow-style: none;
}

.page-container {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.3%;
}

.col-50 {
  width: 50%;
}

.col-75 {
    width: 75%;
}

.col-100 {
    width: 100%;
}

.col-float-middle {
    margin: auto;
}

.col-float-left {
    float: left;
}

.col-float-right {
    float: right;
}

.padding-bottom {
    padding-bottom: 1.25rem;
}

.padding-side {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.padding-side-xl {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.padding-right {
    padding-right: 1.25rem;
}

.padding-left {
    padding-left: 1.25rem;
}

.padding-top {
    padding-top: 1rem;
}

.margin-top {
    margin-top: 3rem;
}

.margin-bottom {
    margin-bottom: 3rem;
}

.border-top {
    border-top: 1px solid #000;
}







/* CONTENT STYLING */
.col-content {

}

.col-content > img, .col-content > a > img {
    margin-top: 1rem;
    max-width: 100%;
    display: block;
}


.front-images > a > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.default-greyed-img {
    filter: invert(0%) sepia(5%) saturate(0%) hue-rotate(328deg) brightness(95%) contrast(95%);
    opacity: 0.15;
}

.default-greyed-img:hover {
    filter: unset;
    opacity: 1;
    transition: opacity 0.5s;
}

.reset-img {
    filter: unset;
    opacity: 1;
    transition: opacity 0.5s;
}


.md-content > p {
    text-align: left;
    font-size: 1.2rem;
    line-height: normal;
    margin-bottom: 1.2rem;
    font-weight: 300;
}

.md-content > p > em {
    margin-top: 0rem;
    font-size: 1rem;
    font-weight: 200;
}

.md-content > p > a {
    color: #000;
    text-decoration: underline;
}

.md-content > p > a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.intext-img {
    max-width: 100%;
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.page-title {
    font-size: 3.2rem;
    line-height: normal;
    margin-bottom: 0.4rem;
}

.page-nav {
    font-size: 2.5rem;
    line-height: normal;
    margin-bottom: 0.4rem;
}

.page-nav > a {
    text-decoration: none;
    color: #000;
}

.page-nav > a.active {
    color: #fff;
    background-color: #000;
}

.page-nav > a:hover {
    color: #fff;
    background-color: #000;
}

.page-title-description {
    text-align: center;
    font-size: 1.8rem;
    line-height: normal;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.page-credits {
    text-align: left;
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 300;
}

.page-title-description-s {
    text-align: center;
    font-size: 1.2rem;
    line-height: normal;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.page-question {
    text-align: left;
    font-size: 1.8rem;
    line-height: normal;
    margin-bottom: 0rem;
    font-weight: 400;
}

.page-title-description > b, .page-credits > b {
    font-weight: 400;
}


.content-title {
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 0.4rem;
    font-weight: 400;
}

.content-description {
    font-size: 1.2rem;
    line-height: normal;
    font-weight: 300;
}

.block {
    display: block;
}

.psuedo-list {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  display: inline-block;
}

.psuedo-list {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.psuedo-list:hover {
    color: #fff;
    background: #000;
}

.psuedo-list.active {
    color: #fff;
    background-color: #000;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.thin-weight {
    font-weight: 200 !important;
}

.regular-weight {
    font-weight: 300 !important;
}

.bold-weight {
    font-weight: 400 !important;
}

.extra-bold-weight {
    font-weight: 500 !important;
}







/* PROJECT GRID */

.project-title {
    display: block;
    font-size: 1.8rem;
    line-height: normal;
    margin-bottom: 0.4rem;
    font-weight: 400;
}

.project-title > a {
    color: #000;
}

.project-title > a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.project-description {
    display: block;
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 0.25rem;
    font-weight: 400;
}

.project-sub-description {
    display: block;
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 0.25rem;
    font-weight: 300;
}

.project-grid-cell {
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-right: 3rem;
}

.project-grid-cell > a > img {
    float: left;
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    margin-bottom: 0.5rem;
}






/* NAVIGATION */
.p-nav-text {
    font-size: 2.5rem;
    line-height: normal;
    margin-top: 0rem;
}

.highlight {
    color: #000;
    text-decoration: none;
    text-decoration-thickness: 0.1rem;
    font-weight: 500;
}

.highlight:hover {
    color: #fff;
    background: #000;
}

.highlight-active {
    color: #fff;
    background: #000;
    transition: 0.5s;
}

.corner-nav-br {
  overflow: hidden;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  font-size: 1rem;
  line-height: normal;
}

.corner-nav-bl {
  overflow: hidden;
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
  font-size: 1rem;
  line-height: normal;
}

.corner-nav-tl {
  overflow: hidden;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  font-size: 1rem;
  line-height: normal;
}

.corner-nav-tr-x {
  overflow: hidden;
  position: fixed;
  top: 0.5rem;
  right: 1.25rem;
  font-size: 3rem;
  line-height: normal;
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

.corner-nav-tr-x:hover {
  color: #000;
  text-decoration: none;
}

.corner-nav-tl-submenu {
  overflow: hidden;
  position: fixed;
  top: 0.5rem;
  left: 1.25rem;
  font-size: 2.5rem;
  line-height: normal;
  text-decoration: none;
  text-transform: none;
}

.corner-nav > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.corner-nav > a:hover {
    color: #fff;
    background: #000;
}

.corner-nav > a.active {
    color: #fff;
    background-color: #000;
}





/* 404 - ERROR PAGE */
.text-wrap {
    position: relative;
    align-content: center;
    vertical-align: middle;
}

._404-nav {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-weight: 300;
    font-size: 50rem;
    color: #000;
    text-decoration: none;
}

._404-nav:hover {
    color: #000;
    text-decoration: none;
}







/* BOOTSTRAP */
.collapsing {
  transition: none !important;
}

button[aria-expanded="true"]{
  background-color: #fff;
}

.accordion-button{
    background-color: #fff !important;
    color: #777 !important;
    font-size: 1.2rem !important;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.accordion-body{
    background-color: #fff !important;
    color: #777 !important;
    font-size: 1.2rem !important;
    line-height: normal;
    font-weight: 300;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion {
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 4vh !important;
}






/* MOBILE */

@media screen and (max-width: 1000px) {
    .col-25 {
        width: 50%;
    }

    .col-33 {
        width: 50%;
    }

    .col-50 {
        width: 50%;
    }

    .col-75 {
        width: 100%;
    }

    .col-100 {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    .col-25 {
        width: 100%;
    }

    .col-33 {
        width: 100%;
    }

    .col-50 {
        width: 100%;
    }

    .col-75 {
        width: 100%;
    }

    .col-100 {
        width: 100%;
    }

  .p-nav-text {
        font-size: 1.5rem;
        line-height: normal;
        margin-top: 0rem;
    }

    .corner-nav-br {
        font-size: 0.6rem;
        line-height: normal;
    }

    .corner-nav-bl {
        font-size: 0.6rem;
        line-height: normal;
        }

    .corner-nav > a {
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        font-weight: 500;
    }
}









