@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Barlow", "Sans-Serif";
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    color: #111;
    font-size: 100%;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
    -webkit-user-drag: none;
}
.select {
	-webkit-touch-callout: default;
    -webkit-user-select: default;
    -khtml-user-select: default;
    -moz-user-select: default;
    -ms-user-select: default;
    user-select: default;
    user-drag: default;
    -webkit-user-drag: default;
}

.no-pointer-events {
    pointer-events: none;
}


/* HOMEPAGE */
.main-container {
    display: inline-block;
    line-height: 4.5rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.first-image {
    max-width: 40vw;
    min-width: 40vw;
    opacity: 0.03;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-image > img {
    vertical-align: middle;
}

.splash-image {
    max-width: 40vw;
    min-width: 40vw;
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-image:hover {
    max-width: 40vw;
    min-width: 40vw;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-image > img {
    vertical-align: middle;
}

.home-text-nav {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.7rem;
    color: #999;
    text-align: center;
}

.home-text-nav > a {
	color: #111;
	font-weight: 400;
	text-decoration: none;
}

.home-text-nav > a:hover {
	color: #111;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

.large-font {
    font-size: 4rem;
}

.blog-title-font {
    font-size: 2rem;
    line-height: 3rem;
}

.project-title-font {
    font-size: 4rem;
    line-height: 4rem;
}

.project-question-font {
    font-size: 3rem;
    line-height: 3rem;
}

._404-nav {
    font-weight: 600;
    font-size: 20rem;
    line-height: 20rem;
    color: #999;
    text-align: center;
}

._404-nav > a {
    color: #111;
    font-weight: 300;
    text-decoration: none;
}

._404-nav > a:hover {
    color: #999;
    text-decoration: none;
}


.text-wrap {
    position: relative;
    align-content: center;
    vertical-align: middle;
}

/* NAV */
.corner-nav {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    z-index: 10;
}

.corner-nav:hover{
    color: #999;
    text-decoration: none;
}
    
.corner-nav-tr {
    overflow: hidden;
    position: fixed;
    top: 1rem;
    right: 1.25rem;
    font-size: 1.35rem;
    line-height: 1.2rem;
}

.corner-nav-tr-x {
    overflow: hidden;
    position: fixed;
    top: 0.75rem;
    right: 1.25rem;
    font-size: 3rem;
    line-height: 3rem;
}

.corner-nav-tl {
    overflow: hidden;
    position: fixed;
    top: 1rem;
    left: 1.25rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 1.2rem;
}

.corner-nav-tc {
    overflow: hidden;
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 1.2rem;
}

.corner-nav-bl {
    overflow: hidden;
    position: fixed;
    bottom: 1rem;
    left: 1.25rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 1.2rem;
}

.corner-nav-br {
    overflow: hidden;
    position: fixed;
    bottom: 1rem;
    right: 1.25rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    line-height: 1.2rem;
}

.corner-social {
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1rem;
    z-index: 10;
}

.corner-social > a {
    text-decoration: none;
    color: #111;
}

.corner-social > a:hover {
    color: #999;
    text-decoration: none;
}

.corner-content {
    color: #999;
    font-size: 2.5rem;
    line-height: 2.6rem;
    z-index: 10;
}

.corner-content > a {
    text-decoration: none;
    text-transform: none;
    color: #999;
    position: relative;
    top: -0.125rem;
}

a.active {
    color: #111;
}

a.active:hover {
    text-decoration: none;
}

a.inactive {
    color: #999;
}

a.inactive:hover {
    color: #111;
    text-decoration: none;
}




/* STATIC DEFAULT */
.flex {
  display: flex;
  flex-direction: column;
}

.default-content {
    overflow: scroll;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
    scroll-behavior: smooth;
}

.default-content::-webkit-scrollbar {
  display: none;
}

.default-content {
  -ms-overflow-style: none;
}

.default-box-s {
    display: inline-block;
    width: 60vw;
    margin: 0 auto;
}

.default-box-s > h1 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.6rem;
    margin-top: 0px;
    color: #111;
}

.default-box-s > p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
    margin-top: 0px;
}

.default-box-s > img {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto;
}

.default-box-l {
    display: inline-block;
    width: 80vw;
    margin: 0 auto;
}

.default-box-l > h1 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.6rem;
    margin-top: 0px;
    color: #999;
}

.default-box-l > p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
    margin-top: 0px;
}

.default-box-l > img {
    max-width: 100%;
    display: block;
    margin: 0 auto 0.6rem auto;
}

.default-box-xs {
    display: inline-block;
    width: 50vw;
    margin: 0 auto;
}

.default-box-xs > h1 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.6rem;
    margin-top: 0px;
    color: #111;
}

.default-box-xs > p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 0.6rem;
    margin-top: 0px;
}

.default-box-xs > img {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto;
}

.u-list > ul {
   list-style-type: none;
   padding-left: 0;
}

.ul-style {
    font-size: 1.3rem;
    color: #111;
    text-decoration: none;
}

.ul-style:hover {
    font-size: 1.3rem;
    color: #999;
    text-decoration: none;
}

.margin-about {
    margin-bottom: 20vh;
}


.margin-project {
    margin-bottom: 15vh;
}

.margin-post {
    margin-bottom: 5vh;
}

.margin-post-l {
    margin-bottom: 10vh;
}

.float-r {
    right: 0;
    clear: both;
    margin-right: 0 !important;
}

.float-l {
    left: 0;
    clear: both;
    margin-left: 0 !important;
}

.float-m {
    clear: both;
}

.list-a > a {
    text-decoration: none;
    font-weight: 300;
    color: #111;
    font-size: 1.3rem;
    line-height: 1.5rem;
    }

.list-a > a:hover {
    text-decoration: none;
    font-weight: 300;
    color: #999;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.list-a {
    text-decoration: none;
    font-weight: 300;
    color: #111;
    font-size: 0.4rem;
}


.first-margin-s {
    margin-top: 3vh;
}


.first-margin-m {
    margin-top: 7.5vh;
}

.first-margin-l {
    margin-top: 15vh; 
}


.break {
    display: none;
}

.bottom-offset {
    margin-bottom: 5vh;
}

.page-title {
    margin-top: 5vh; 
    margin-bottom: 5vh;
}
 
.page-title > h1 {
    font-size: 4rem;
    line-height: 4rem;
}






/* WORK PAGE */
.left {
    left: 0;
    text-align: left;
}

.right {
    text-align: right;
    right: 0;
}

.middle {
    text-align: center;
    right: auto;
    left: auto;
}

.prj-middle {
    text-align: center;
    right: auto;
    left: auto;
}

.default-box-s > h2 {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 0px;
    color: #999;
}

h1 > a {
    text-decoration: none;
    }

h2 > a {
    text-decoration: none;
    color: #111;
    }

h2 > a:hover {
    text-decoration: none;
    color: #999;
}

.default-box-s > h3 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 0.6rem;
    margin-top: 0px;
    color: #999;
}

.right > img {
    max-width: 40%;
    max-height: 100%;
    margin-bottom: 0.6rem;
}

.left > img {
    max-width: 40%;
    max-height: 100%;
    margin-bottom: 0.6rem;
    position: relative;
    left: 0;
}

.middle > img {
    max-width: 35%;
    max-height: 100%;
    margin-bottom: 0.6rem;
    position: relative;
}

.banner-img {
    max-width: 100%;
    width: 100%;
}

.intext-img {
    max-width: 100%;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

p > a {
    text-decoration: none;
    font-weight: 400;
    color: #111;
    }

p > a:hover {
    text-decoration: none;
    font-weight: 400;
    color: #999;
}

.work-margin {
    margin-bottom: -20vh;
}

.work-margin-m {
    margin-bottom: 10vh;
}


/* BOOTSTRAP */
.collapsing {
  transition: none !important;
}

button[aria-expanded="true"]{
  background-color: #fff;
}

.accordion-button{
    background-color: #fff !important;
    color: #111 !important;
    font-size: 1.3rem !important;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.accordion-body{
    background-color: #fff !important;
    color: #111 !important;
    font-size: 1.3rem !important;
    line-height: 1.6rem !important;
    font-weight: 300;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-body:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion {
    width: 90% !important;
    margin: 0 auto !important;
    margin-top: 4vh !important;
}


@media screen and (max-width: 700px) {
    .default-box-s {
        display: inline-block;
        width: 90vw;
        margin: 0 auto;
    }

    .default-box-xs {
        display: inline-block;
        width: 90vw;
        margin: 0 auto;
    }

    .default-box-l {
        display: inline-block;
        width: 90vw;
        margin: 0 auto;
    }

    .work-margin {
        margin-bottom: 4vh;
    }

    .right > img {
        max-width: 60%;
        max-height: 100%;
        margin-bottom: 0.6rem;
    }

    .left > img {
        max-width: 60%;
        max-height: 100%;
        margin-bottom: 0.6rem;
    }

    .first-margin-l {
        margin-top: 10vh; 
    }

    .first-margin-s {
        margin-top: 8vh; 
    }

    .home-text-nav {
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: #999;
        text-align: center;
    }

    .bull {
        display: none;
    }

    .break {
        display: inline;
    }

    .default-box-s > h1 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 0.2rem;
        margin-top: 0px;
        color: #111;
    }

    .default-box-l > h1 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 0.2rem;
        margin-top: 0px;
        color: #999;
    }

    .default-box-xs > h1 {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: 0.2rem;
        margin-top: 0px;
        color: #111;
    }

    .margin-about {
        margin-bottom: 10vh;
    }   


    .margin-post-l {
        margin-bottom: 10vh;
    }

    .corner-content {
        color: #999;
        font-size: 1.8rem;
        line-height: 1.9rem;
        z-index: 10;
    }

    .corner-nav-tc {
        overflow: hidden;
        position: fixed;
        top: 8vh;
        left: 50%;
        transform: translate(-50%, 0);
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 1.9rem;
        width: 90vw;
    }

    .bottom-offset {
        margin-bottom: 5vh;
    }

    .corner-social {
        font-weight: 600;
        color: #111;
        text-transform: uppercase;
        font-size: 0.6rem;
        line-height: 0.8rem;
        z-index: 10;
    }


    .corner-nav-tr {
        overflow: hidden;
        position: fixed;
        top: 1rem;
        right: 1.25rem;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    .corner-nav-tr-x {
        overflow: hidden;
        position: fixed;
        top: 0.75rem;
        right: 1.25rem;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .corner-nav-tl {
        overflow: hidden;
        position: fixed;
        top: 1rem;
        left: 1.25rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    .corner-nav-tc {
        overflow: hidden;
        position: fixed;
        top: 3vh;
        left: 50%;
        transform: translate(-50%, 0);
        text-transform: uppercase;
        font-size: 1.1rem;
        line-height: 1.3rem;
    }


    .corner-nav-br {
        overflow: hidden;
        position: fixed;
        bottom: 1rem;
        right: 1.25rem;
        text-transform: uppercase;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }

    .large-font {
    font-size: 3.5rem;
}

}




