---
---

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Innovating Urban Processes</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<span class="corner-nav-tl corner-nav noselect">
	        <a class="" href="{{site.baseurl}}/home">SPIN Unit</a>
 		</span>
		<a href="{{site.baseurl}}/home" class="active corner-nav-tr-x corner-nav noselect">&#x2715;&#xFE0E;</a>
		<span class="corner-nav-bl corner-nav noselect">
          <a class="" href="{{site.baseurl}}/about">About</a> &nbsp;&bull;&nbsp;
          <a class="" href="{{site.baseurl}}/resources">Resources</a> &nbsp;&bull;&nbsp;
          <a class="" href="{{site.basurl}}/latest">Latest</a>
   		 </span>
		<span class="corner-nav-br corner-nav noselect">
	        <a class="" href="mailto: spin@spinunit.eu">Email &#8599;&#xFE0E;</a>
 		</span>


		<div class="default-content flex internal-scroll noselect">

			<div class="page-container padding-top padding-bottom padding-side margin-top">
				<div class="col-75 col-float-middle col-content">
					<p class="page-title text-align-center block">Innovating Urban Interactions</p>
					<p class="project-sub-description text-align-center block">Innovation in city planning is linked to the long waves of social and economic development. Change is speeding up and advanced societies are looking for new drivers of growth and wellbeing that would be in tune with the needed systemic transition towards sustainability. We explore and actualise emerging potentials, innovating how people interact with the urban design process.</p>
				</div>
			</div>

			<div class="page-container padding-top padding-bottom padding-side margin-bottom">
				{% assign sorted = site.projects | reverse %}
				{% assign i = 0 %}
    			{% for project in sorted %}
    				{% if project.categories contains "innovation" %}
					<div class="col-33 col-float-left project-grid-cell" id="{{project.id}}">
						{% if project.external_url %}
						<a href="{{project.external_url}}"><img class="block" src="{{site.baseurl}}{{project.thumbnail}}"></a>
						<p class="project-title"><a href="{{project.external_url}}">{{project.title}}</a></p>
						{% else %}
						<a href="{{project.url}}"><img class="block" src="{{site.baseurl}}{{project.thumbnail}}"></a>
						<p class="project-title"><a href="{{project.url}}">{{project.title}}</a></p>
						{% endif %}
						<p class="project-description">{{project.description}}</p>
						<p class="project-sub-description">{{project.place}} &nbsp;({{project.year}})</p>
					</div>
					{% endif %}
				{% endfor %}
			</div>
    	</div>



	</body>
	
</html>