---
---

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Work - Research</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<a href="/" class="active corner-nav-tr-x corner-nav noselect">&#x2715;</a>
		<span class="corner-nav-tl corner-content">
			<a class="active" href="">Research</a>
		</span>
		<a href="mailto: spin@spinunit.eu" target="_blank" class="active corner-nav-br corner-nav noselect">Contact </a>
		<span class="corner-nav-bl corner-social noselect">
			<a href="https://twitter.com/spinunit" target="_blank">Twitter &#8599;&#xFE0E;</a>&nbsp;
			<a href="https://www.instagram.com/spinunit" target="_blank">Instagram &#8599;&#xFE0E;</a>&nbsp;
			<a href="https://www.linkedin.com/company/spatial-intelligence-unit" target="_blank">Linkedin &#8599;&#xFE0E;</a>&nbsp;
		</span>


		<div class="default-content flex internal-scroll noselect">

			<div class="default-box-s middle" style="margin-top: 5vh; margin-bottom: 5vh">
				<h1>Making Data Meaningful</h1>
				<p><a href="{{project.external_url}}" target="_blank">Direction &#8599;</a></p>
    		</div>

			{% assign sorted = site.projects | reverse %}
			{% assign i = 0 %}
    		{% for project in sorted %}
    			{% if project.categories contains "research" %}
  				{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  				{% if thecycle == 'odd' %}
  					{% assign i = i | minus:1 %}
    				<div class="default-box-s right work-margin" style="z-index: {{i}}">
    					<img class="float-r" src="{{site.baseurl}}{{project.thumbnail}}">
    					{% if project.external_url %}
        				<h2><a href="{{project.external_url}}" target="_blank">{{project.title}}</a></h2><h3>{{project.description}}</h3><h3>{{project.place}}, {{project.year}}</h3>
        				{% else %}
        				<h2><a href="{{project.url}}">{{project.title}}</a></h2><h3>{{project.description}}</h3><h3>{{project.place}}, {{project.year}}</h3>
        				{% endif %}
    				</div>
  				{% endif %}
  				{% if thecycle == 'even' %}
  					{% assign i = i | minus:1 %}
  					<div class="default-box-s left work-margin" style="z-index: {{i}}">
    					<img class="float-l" src="{{site.baseurl}}{{project.thumbnail}}">
        				{% if project.external_url %}
        				<h2><a href="{{project.external_url}}" target="_blank">{{project.title}}</a></h2><h3>{{project.description}}</h3><h3>{{project.place}}, {{project.year}}</h3>
        				{% else %}
        				<h2><a href="{{project.url}}">{{project.title}}</a></h2><h3>{{project.description}}</h3><h3>{{project.place}}, {{project.year}}</h3>
        				{% endif %}
    				</div>
  				{% endif %}
  				{% endif %}
			{% endfor %}

    	</div>



	</body>
	
</html>