---
---

<!DOCTYPE html>
<html>

	<head>
			<meta charset="utf-8">
			<title>{{page.title}}</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<a href="{{site.baseurl}}/home" class="active corner-nav-tl corner-nav noselect">SPIN UNIT</a>
		<a href="{{site.baseurl}}/resources" class="active corner-nav-tr-x corner-nav noselect">&#x2715;</a>
		<a href="mailto: spin@spinunit.eu" target="_blank" class="active corner-nav-br corner-nav noselect">Contact </a>
		<span class="corner-nav-bl corner-social noselect">
			<a href="https://twitter.com/spinunit" target="_blank">Twitter &#8599;&#xFE0E;</a>&nbsp;
			<a href="https://www.instagram.com/spinunit" target="_blank">Instagram &#8599;&#xFE0E;</a>&nbsp;
			<a href="https://www.linkedin.com/company/spatial-intelligence-unit" target="_blank">Linkedin &#8599;&#xFE0E;</a>&nbsp;
		</span>

		<div class="default-content flex internal-scroll">

			<div class="default-box-xs left first-margin-s noselect">
				<p><b class="blog-title-font">{{page.title}}</b><br><b>Author:</b> {{page.author}} <br><b>Date:</b> {{page.display-date}}</p>
				<br>
	    	</div>

	    	<div class="default-box-xs left bottom-offset">
	    		{{content}}
	    	</div>
	    </div>
	</body>



