---
---

<!DOCTYPE html>
<html>

	<head>
			<meta charset="utf-8">
			<title>{{page.title}}</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<a href="{{page.return_path}}" class="active corner-nav-tr-x corner-nav noselect">&#x2715;</a>
		<a href="/" class="active corner-nav-tl corner-nav noselect">SPIN UNIT</a>
		<a href="mailto: spin@spinunit.eu" target="_blank" class="active corner-nav-br corner-nav noselect">Contact </a>

		<div class="default-content flex internal-scroll noselect">

			<div class="default-box-s left" style="margin-top: 5vh">
				<h1>{{page.title}}</h1>
				<p>Author: {{page.author}} <br> Date: {{page.display-date}}</p>
	    	</div>

	    	<div class="default-box-s left" style="margin-top: 2vh; margin-bottom: 5vh">
	    		{{content}}
	    	</div>
	</body>


