---
---

<!DOCTYPE html>
<html>

	<head>
			<meta charset="utf-8">
			<title>{{page.title}}</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<a href="../home" class="active corner-nav-tl corner-nav noselect">SPIN UNIT</a>
		<a href="{{site.baseurl}}{{page.return_path}}#{{page.id}}" class="active corner-nav-tr-x corner-nav noselect">&#x2715;</a>
		<a href="mailto: spin@spinunit.eu" target="_blank" class="active corner-nav-br corner-nav noselect">Contact </a>
		<span class="corner-nav-bl corner-social noselect">
			<a href="https://twitter.com/spinunit" target="_blank">Twitter &#8599;&#xFE0E;</a>&nbsp;
			<a href="https://www.instagram.com/spinunit" target="_blank">Instagram &#8599;&#xFE0E;</a>&nbsp;
			<a href="https://www.linkedin.com/company/spatial-intelligence-unit" target="_blank">Linkedin &#8599;&#xFE0E;</a>&nbsp;
		</span>

		<div class="default-content flex internal-scroll">

			<div class="default-box-xs prj-middle first-margin-m margin-post-l noselect">
				<p><b class="project-title-font">{{page.title}}</b><br><br>
				{{page.year}} &bull; {{page.client}} &bull; {{page.place}}<br>
				{{page.description}}</p><br>
				<img class="banner-img" src="{{site.baseurl}}{{page.cover-image}}">
	    	</div>

	    	<div class="default-box-xs prj-middle margin-post-l">
	    		<p><span class="project-question-font">{{page.question}}</span></p>
	    	</div>

	    	<div class="default-box-xs left margin-post-l">
	    		{{content}}
	    	</div>

	    	<div class="default-box-xs middle bottom-offset">
	    		<p>
		    		<b>Team Members:</b> {{page.team-members}}<br>
		    		<b>Project Lead:</b> {{page.project-lead}}<br>
		    		<b>Project Partners:</b> {{page.project-partners}}
	    		</p>
	    	</div>

	    </div>
	</body>


