---
---

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Events</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/css/default.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<a href="/" class="active corner-nav-tr-x corner-nav noselect">&#x2715;</a>
		<a href="/" class="active corner-nav-tl corner-nav noselect">SPIN UNIT</a>
		<span class="corner-nav-bl corner-content">
			<a class="active" href="">All</a>, <a class="inactive" href="half-baked">Half-Baked</a>
		</span>


		<div class="default-content flex internal-scroll noselect">

			<div class="default-box-s middle" style="margin-top: 20vh; margin-bottom: 0vh">
    		</div>

			{% assign sorted = site.events | reverse %}
			{% assign i = 0 %}
    		{% for event in sorted %}
  				{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  				{% if thecycle == 'odd' %}
  					{% assign i = i | minus:1 %}
    				<div class="default-box-s middle work-margin-m" style="z-index: {{i}}">
    					<img class="float-m" src="{{site.baseurl}}{{event.poster}}">
        				<h2><a href="{{event.event_url}}" target="_blank">{{event.title}}</a></h2><h3>{{event.description}}</h3><h3>{{event.place}}, {{event.display-date}}, {{event.display-start-time}} to {{event.display-end-time}}</h3>
    				</div>
  				{% endif %}
  				{% if thecycle == 'even' %}
  					{% assign i = i | minus:1 %}
  					<div class="default-box-s middle work-margin-m" style="z-index: {{i}}">
    					<img class="float-m" src="{{site.baseurl}}{{event.poster}}">
        				<h2><a href="{{event.event_url}}" target="_blank">{{event.title}}</a></h2><h3>{{event.description}}</h3><h3>{{event.place}}, {{event.display-date}}, {{event.display-start-time}} to {{event.display-end-time}}</h3>
    				</div>
  				{% endif %}
			{% endfor %}

    	</div>



	</body>
	
</html>